<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link
      rel="icon"
      href="/static/MCCWRS_Thumb.png"
      type="image/png"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Login</h1>
    {% if session %}
        <p> You are already logged in!</p>
        <a href="{{url_for('Home')}}">Go to Home</a>
    {% else %}
        <form action="/login" method="POST">
            <p>Enter Username:</p>
            <p><input type="text" name="username" /></p>
            <p>Enter Password:</p>
            <p><input type="password" name="password" /></p>
            {% if message %}
            <p style='color:red'>{{ message }}</p>
            {% endif %}
            <p><input type="submit" value="submit" /></p>
        </form>
    {% endif %}



</body>
</html>
